{
    "schemaVersion": "1.0",
    "artifacts": {
        "xcode-selective-test": {
            "version": "__VERSION__",
            "type": "executable",
            "variants": [
                {
                    "path": "xcode-selective-test/bin/xcode-selective-test",
                    "supportedTriples": ["x86_64-apple-macosx", "arm64-apple-macosx"]
                }
            ]
        }
    }
}