name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, reopened]

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run tests
      run: swift test -v

  test-linux:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Prepare Git
      run: git config --global user.email "test@example.com" && git config --global user.name "Test User"
    - name: Run tests
      run: swift test -v
